*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box ;
 
}
body{
    width: 100%;
    background-color: #eaeded;
}
/* --------------------Navbar CSS------------------- */
.first{
    width: 100%;
    height: 70px;
    background-color: #131a22;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first img{
    width: 130px;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .flex{
    display: flex;
    justify-content: center;
}
.flex span,i{
    color: white;
}  
.logo{
    /* flex: 0.18; */
    width: 20%;
    margin-right: 10px;
    justify-content: space-between;
}
.map{
    border: 1px solid transparent;
}
.map i{
    margin-top: 17px;
    padding-left: 5px;
    font-size: 17px;
}
.map div{
    padding: 5px;
    display: flex;
    flex-direction:  column;
}
.map div span:first-child{
    font-weight: 400;
    font-size: 13px;
}
.map div span{
    font-weight: bold;
}
.right{
    justify-content: space-between;
    /* flex: 0.29; */
    width: 30%;
    margin-right: 10px;
    align-items: center;
}
.input{
   
    width: 100%;
    background-color: white;
    /* flex: 0.53; */
    width: 50%;
    border-radius: 5px;
    display: flex;
   /* margin: 0 10px;  */
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}
.input input{
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;
}
.input .fa-search{
    color: rgb(51, 51, 51 );
     padding: 10px 15px;
    font-size: 20px;
   cursor: pointer;
   background-color: #febd69;
   border-radius: 0 5px 5px 0;
}
.input div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: 1px solid gray;
        background-color: rgb(236, 234, 234);
       padding:   5px 0;
}
.input div span{

    border-radius: 5px 0 0 5px;
    color: rgb(51, 51, 51 );
    padding: 6px 5px;
    font-size: 13px;
    cursor: pointer;
}
.input .fa-caret-down{
    color: rgb(51, 51, 51 );
    cursor: pointer;
    padding: 5px;
}
.lang i{
    padding: 0;
    margin: 0;
    color: gray;
}
.lang{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid transparent;
    border-radius: 3px;
}
.right img{
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
}
.sign{
    display: flex;
    flex-direction: column;
    padding: 3px 6px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
   
}
.sign span:first-child{
    font-weight: 400;
    font-size: 13px;
}
.sign span{
    display: inline-block;
    width: 100%;
    font-weight: bold;
}
.flex .ac span{
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
}
.fa-shopping-cart{
    font-size: 30px;
}
.ca{
    font-size: 14px;
    font-weight: bold;
}
.cart{
    align-items: flex-end;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.cart p{
    position: absolute;
    font-weight: bold;
    color: #131a22;
    top: 7px;
    left: 23px;
}
.cart:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.logo img:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.map:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.sign:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.lang:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.input .fa-search:hover{
   background-color: #fdae46;
}
.input div:hover{
    background-color: rgb(204, 202, 202);
    color: black;
}
.input:hover {
    margin: 0;
    border: 3px solid #fdae46;
}
/* -----------------------subnvabar----------------------- */
.second{
    width: 100%;
    height: 42px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;

}
.second ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;

}
.second span{
    font-size: 15px;

}
.second-1 div i{
    font-size: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;

}
.second li{
    font-size: 15px;
    padding: 5px 10px;
    margin:7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.second-1{
    flex: 0.06;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-1 div{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.second-2{
    display: flex;
    flex: 0.74;
    justify-content: flex-start;
}
.second-3{
    flex: 0.2;
    display: flex;
    justify-content: end;
    
   margin-right: 20px;
    overflow: hidden;

}
.second-3  span{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.second-1 span{
    padding: 5px ;
    cursor: pointer;
}
.second-1:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.second-2 ul li:hover{
    border: 1px solid white;
    border-radius: 3px;
}
.second-3 span:hover{
    border: 1px solid white;
    border-radius: 3px;
}
/* -------------------------------carousel----------------- */
.sec-1{
    position: relative;
    width: 100%;
    height: 1190px;
    box-sizing: border-box;
}
.slide img{
    width: 1440px;
    height: 100%;
}
.container{
    position: relative;
    width: 100%;
    height: auto;

}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 560px;
    
}
.image-box{
    display: flex;
    position:absolute;
   
    animation: carousel 15s alternate infinite;
}
@keyframes carousel{
    0%{
        left: 0;
    }
    20%{
        left: 0%;
    }
    24%{
        left: -1440PX;
    }
    42%{
        left: -1440px;
    }
    46%{
        left: calc(-1440*2px);
    }
    62%{
        left: calc(-1440*2px);
    }
    66%{
        left: calc(-1440*3px);
    }
    82%{
        left: calc(-1440*3px);
    }
    86%{
        left: calc(-1440*4px);
    }
    100%{
        left: calc(-1440*4px);
    }
}
/* ---------------------------container-1-------------------- */
.container-1{
    position:absolute;
    z-index: 1;
    top: 230px;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient( to bottom,transparent,#eaeded 30%);

}
.container-1 .para{
    background-color: rgb(238, 234, 234);
    width: 100%;
    text-align: center;

}
.container-1 div:first-child p{
    font-size: 14px;
    padding: 12px 0;
}
.product-comp{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 20px 0;
    justify-content: space-around;
}
.product-comp .box{
    width: 315px;
    height: 400px;
    background-color: white;
}
.box h3{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 10px;    
    color: rgb(43, 42, 42);
    /* font-weight: 700;
    font-size: 24px;
    line-height: 32px; */
}
.box a{
    font-size: 13px;
    margin-left: 20px;
    display: block;
    padding-top: 30px;
   
}
.box-a{
    overflow: hidden;
    background-color: white;
}
.box div img{
    width: 147px;
    height: 100px;
    cursor: pointer;
    margin-left: 1px;
    margin: 4px;
    border-radius: 3px;

}
.box-b div img{
    margin: 0 20px;
    width: 275px;
    height: 255px;
    cursor: pointer;
}
.box-a div{
    display: inline-block;

}
.box-a div span{
    display: block;
    font-size: 15px;
    margin-left: 20px;
    color: gray;
}
.box-d .box-a div:first-child img{
    width: 300px;
    height: 145px;
}
.box-d .box-a{
    align-items: center;
}

.box-d .box-a div img{
    margin-top: 10px;
    margin-left: 12px;
    width: 83px;
    height: 50px;
}
.box-b div span{
    display: block;
    font-size: 13px;
    margin-left: 20px;
    color: gray;
} 
.box-b  a{
    font-size: 13px;
    margin-left: 20px;
    display: block;
    padding-top: 0px;
    margin-top: 20px;
   
}
.sec{
    width: 100%;
    height: 315px;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 25px;
}
.slide-sec h3{
    font-size: 20px;
    padding-bottom: 5px;
}
.slide-sec{
width: 100%;
height: 100%;
padding: 20px 20px 10px 20px;
overflow-x: hidden;
background-color: white;
position: relative;
}
.mobile-slide,.pc-slide,.book-slide,.cream-slide{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 5px;
    scroll-behavior: smooth;
  
}
.slide li ,.pc-slide li,.book-slide li,.cream-slide li {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.mobile-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.mobile-slide::-webkit-scrollbar-thumb{
  border-radius: 10px;
    cursor: pointer;
}
.pc-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.pc-slide::-webkit-scrollbar-thumb{
  border-radius: 10px;
    cursor: pointer;
}
.book-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.book-slide::-webkit-scrollbar-thumb{
  border-radius: 10px;
    cursor: pointer;
}

.cream-slide::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}
.cream-slide::-webkit-scrollbar-thumb{
  border-radius: 10px;
    cursor: pointer;
}
.l-btn-1,.r-btn-1,.r-btn-2,.l-btn-2{
        background-color: rgb(255,255,255,1);
        height: 90px;
        width: 50px;
        text-align: center;
        cursor: pointer;
        top: 35%;
        position: absolute;
        border: 3px solid transparent;
}
.l-btn-1,l-btn-2{
    border-radius: 0 5px 5px 0;
    left: 20px;
}
.r-btn-1,.r-btn-2{
    border-radius:  5px 0 0 5px ;
    right: 20px;
}
.l-btn-1:hover{
    border: 3px solid rgb(2,150,150);

}
.r-btn-1:hover{
    border: 3px solid rgb(2,150,150);
}
.l-btn-2:hover{
    border: 3px solid rgb(2,150,150);

}
.r-btn-2:hover{
    border: 3px solid rgb(2,150,150);
}
.l-btn-1 i, .r-btn-1 i,.l-btn-2 i, .r-btn-2 i{
    color: rgb(54, 54, 54);
    position: absolute;
    font-size: 30px;
    top: 35%;
    left: 13%;
    right: 13%;
}
/* ----------------------3 & 4 slider--------------------- */

.l-btn-3,.r-btn-3,.r-btn-4,.l-btn-4{
    background-color: rgb(255,255,255,1);
    height: 90px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    top: 35%;
    position: absolute;
    border: 3px solid transparent;
}
.l-btn-3,l-btn-4{
border-radius: 0 5px 5px 0;
left: 20px;
}
.r-btn-3,.r-btn-4{
border-radius:  5px 0 0 5px ;
right: 20px;
}
.l-btn-3:hover{
border: 3px solid rgb(2,150,150);

}
.r-btn-3:hover{
border: 3px solid rgb(2,150,150);
}
.l-btn-4:hover{
border: 3px solid rgb(2,150,150);

}
.r-btn-4:hover{
border: 3px solid rgb(2,150,150);
}
.l-btn-3 i, .r-btn-3 i,.l-btn-4 i, .r-btn-4 i{
color: rgb(54, 54, 54);
position: absolute;
font-size: 30px;
top: 35%;
left: 13%;
right: 13%;
}
.sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 100%;
    transition: all 0.5s;
    position: absolute;
    z-index: 101;
    overflow-y: scroll;
    box-shadow: 2px 2px 30px;
    transform: translateX(-100%);
}
.hdn-head{
    background-color: #232f3e;
    height: 60px;
    width: 100%;
    color: white;
    text-align:center;
}
.hdn-head h2{
    line-height:  60px;
}
.hdn-content h3{
    padding: 20px 25px;
    color: rgb(39, 39, 39);
}
.hdn-content ul div{
    display: flex;
    cursor: pointer;
    transition:all 0.2s;
    font-size: 14px;
    color: rgb(70, 70, 70);
    padding: 15px   25px;
    justify-content: space-between;

}
.fa-solid{
    color: #eaeded;
}
.line{
    height: 0.5px;
    width: 100%;
    background-color: rgb(172, 172, 172);
   }
.close-sidebar{
    z-index: 101;
    position: absolute;
    left: 380px;
    width: 0;
    height: 100%;
    transform: translateX(-250%);
    
}
.fa-xmark{
    color: white;
    top: 20px;
    left: 20px;
    position: absolute;
    font-size: 30px;
    transform: translateY(-200%);
    
   }
   .black{
    display: none;
    position:absolute;
    width:100%;
    height:100%;
    
    background-color:rgba(0,0,0,0.7)
    }
    .black.active{
        top: 70px;
        width: 100%;
        z-index: 99;
        display: block;
    }
   .fa-angle-right{
    color:rgb(27,27,27);
   }
   .hdn-content ul div:hover{
   background-color: rgb(230,227,227);
   }
   .hdn-content ul{
   padding-bottom:9px;
   }
.triangle{
    position: absolute;
    z-index: 101;
    right: 238px;
    top: 42px;
    background-color: transparent;
    width: 0px;
    height: 0px;
    transition: all 2s;
    border: 12px solid blue;
    border-color: transparent transparent white transparent; 
    display: none;
   }
   .triangle.active{
    display: block;
   }
   .close-sidebar.active-1{
    top: 70px;
    width: 100%;
    z-index: 111;
    background-color: red;
   }
.hdn-sign{
   display: none;
    position: absolute;
    z-index: 101;
    transition: all 2s;
    width: 500px;
    height: 360px;
    top: 65px;
    right: 80px;
    background-color: white;
    border-radius: 5px;
}
.hdn-sign.active{
    display:block;
}
.hdn-table{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.hdn-table h3{
    font-size: 16px;
    padding: 10px 0;
}
.hdn-table li{
    color: rgb(84, 84, 84);
    font-size: 13px;
    padding: 5px 0;
    cursor: pointer;
}
.hdn-line{
    width: 0.5px;
    color: black;
    background-color: rgb(190, 190, 190);
    height: 300px;
}
.hdn-line-hr{
    color: black;
    background-color: rgb(190, 190, 190);
    width: 300px;
    height: 0.5px;
    margin: 20px 20px 0px 100px;
}

.sidebar.active{
    transform: translateX(0);
  }
.close-sidebar.active{
    transform: translateX(0);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    
  }
  .fa-xmark.active{
    transform: translateX(0);
    z-index: 101;
    width: 100%;
  }

  
  /* --------------------------Bottom Button----------------- */
 .bottomTotop{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #344355;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
 }
 .bottomTotop:hover{
    background-color:  #131a22;
 }
.stop-scroll{
    overflow: hidden;
    height: 100%;
}
/* ----------------footerCSS---------- */
footer {
    background-color:  #131a22;
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 250px;
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    margin-left: 0;
}

.footer-bottom {
    background-color: #131a22;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer-section {
        flex: 1 1 100%;
    }
}
a{
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    color: gray;
}